@charset "UTF-8";

:root{
    --cor0:#a4bffa;
    --cor1:#5587F2;
    --cor2:#0C54F0;
    --cor3:#0942BD;
    --cor4:#062770;
    --cor5:#031948;

    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    
}


nav{
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 5px 10px black;
   
    
    
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    

}
nav > a:hover{
    background-color: var(--cor0);
    color: black;
}

article{
    display: inline-block;
    


}

#container-a{
    padding-right: 40px;
    
}

#container-a>h1{
    font-family: var(--fonte-padrao);
    font-size: 2em;
    text-indent: 40px;
    text-align: left
}

#container-a>p>a{
    color: white;
    padding: 10px;
    margin-inline-start: 50px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border-width: 20px; /* borda */
    border-style: outset;  /* borda estilo */
    border-color: var(--cor4);
    
}

#container-b>h1{
    font-family: var(--fonte-padrao);
    font-size: 2em;
    text-indent: 100px;
}

#container-b>p{
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-indent: 100px;
    font-weight: bold;
}